#set($layout="empty.vm")

<html>
<head>
	<title>网络异常</title>
	<style type="text/css">
	<!--
	body { font-family:"宋体";padding:0;margin:0 auto;font-size:12px;background:#fff; line-height:20px;}
	.STYLE1 {
		color: #FFFFFF;
		font-weight: bold;
	}
	-->
	</style>
</head>

<body>
<br>

<div class="s-screenWrap">
    <div class="s-info1">
        ##        <div class="s-wifipage">
        <img height="300" width="300"
             src="$!homeModule.getTarget('/images/wifi.png')"/>
        <p>
            网络异常！请重试！
            &hellip;<br>
            ##        </div>
    </div>
</div>

</body>
</html>