<div id="search" style="padding: 10px 10px 0 0">
    <form id="search">
        <table width="750px" border="0" cellspacing="0" cellpadding="0" class="i-notable">
            <tr>
                <td> <div align="right">订单号：</div></td>
                <td><div align="left"> <input maxlength="50" name="orderCode" id="orderCode-s" size="22"  value="" type="text"></div></td>
                <td><div align="right">lenovoId：</div></td>
                <td><div align="left"> <input maxlength="50" name="transactionId"  id="lenovoId-s" size="22"  value="" type="text"></div></td>
                <td><div align="right">shopId：</div></td>
                <td><div align="left"><select style="width:150px;" id="shopId-s" name="shopId" class="i_comselect">
                    <option value="">请选择</option>
                    <option value="1">LENOVO</option>
                    <option value="2">THINK</option>
                    <option value="3">EPP </option>
                    <option value="4">ROAMING </option>
                    <option value="5">MOTO </option>
                    <option value="6">DONGDE </option>
                    <option value="7">THINKCENTER </option>
                    <option value="8">SMB</option>
                    <option value="11">PCSD</option>
                    <option value="1000">惠商 </option>
                </select></div></td>
                <td><div align="right">TERMINAL：</div></td>
                <td><div align="left"><select style="width:150px;" id="terminal-s" name="terminal" class="i_comselect">
                    <option value="">请选择</option>
                        <option value="$type">PC</option>
                    <option value="1">PC</option>
                    <option value="2">WAP</option>
                    <option value="3">APP</option>
                    <option value="4">WECHAT</option>
                </select></div></td>
                <td>
                    <div><button id="button-order" type="button">确认</button></div>
                </td>
            </tr>
        </table>
    </form>
</div>


<script  type="text/javascript" src="/js/pay/queryOrderToPay-page.js"></script>


