<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
       default-lazy-init="false" default-autowire="byName">


<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="org.springframework.dao.DataAccessException">
                    dataAccessFailure
                </prop>
            </props>
        </property>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="messages"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>


    <context:component-scan base-package="com.yisun.web.controller"/>
    <!-- Configures the @Controller programming model -->
    <mvc:annotation-driven/>


    <!-- Convenient way to map URLs to JSPs w/o having a Controller -->
    <!--<mvc:view-controller path="/home" view-name="home"/>-->
    <!--<mvc:view-controller path="/hello" view-name="hello"/>-->
    <bean name="velocityTools" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <entry key="stringUtils">
                    <bean class="org.apache.commons.lang.StringUtils"/>
                </entry>
                <entry key="stringEscapeUtils">
                    <bean class="org.apache.commons.lang.StringEscapeUtils"/>
                </entry>
                <entry key="dateUtils">
                    <bean class="org.apache.commons.lang.time.DateUtils"/>
                </entry>
                <entry key="math">
                    <bean class="org.apache.velocity.tools.generic.MathTool"/>
                </entry>
                <entry key="dateFormatUtils">
                    <bean class="com.yisun.web.common.util.DateFormatUtils"/>
                </entry>
            </map>
        </constructor-arg>
    </bean>


    <bean id="velocityUrl" class="java.util.HashMap">
        <constructor-arg>
            <map>
                <!--<entry key="homeModule">-->
                <!--<bean class="com.lenovo.m2.arch.framework.web.url.WebUrl">-->
                <!--<property name="url" value="${home.url}"/>-->
                <!--</bean>-->
                <!--</entry>-->
                <!--&lt;!&ndash;样式、js、图片地址 &ndash;&gt;-->
                <!--<entry key="assetModule">-->
                <!--<bean class="com.lenovo.m2.arch.framework.web.url.WebUrl">-->
                <!--<property name="url" value="${asset.url}"/>-->
                <!--</bean>-->
                <!--</entry>-->
            </map>
        </constructor-arg>
    </bean>

    <!-- velocity引擎 -->
    <bean id="velocityConfigurer"  class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <!-- 模板存放的路徑 -->
        <property name="resourceLoaderPath" value="/"/>
        <!-- Velocity配置文件 -->
        <property name="configLocation" value="classpath:velocity.properties"/>
        <property name="velocityProperties">
            <props>
                <prop  key="input.encoding">UTF-8</prop>
                <prop  key="output.encoding">UTF-8</prop>
            </props>
        </property>
    </bean>

    <!-- 禁用了原有属性：layoutUrl，layoutKey，screenContentKey，dateToolAttribute，numberToolAttribute，toolboxConfigLocation-->
    <bean id="viewResolver"
          class="com.yisun.web.common.view.LenovoVelocityLayoutViewResolver">
        <property name="viewClass"  value="com.yisun.web.common.view.LenovoVelocityLayoutView" />
        <property name="cache" value="false" />
        <property name="prefix" value="/WEB-INF/vm/screen/" />
        <property name="suffix" value=".vm" />
        <property name="contentType" value="text/html;charset=UTF-8" />
        <!--是否使用spring對宏定義的支持-->
        <property name="exposeSpringMacroHelpers" value="true" />
        <!--是否開放request屬性-->
        <property name="exposeRequestAttributes" value="true"/>
        <!--request屬性引用名稱-->
        <property name="requestContextAttribute" value="rc"/>
        <property name="velocityTools" ref="velocityTools"/>
        <property name="velocityUrl" ref
                ="velocityUrl"/>
    </bean>
</beans>
